<h2 id="welcome-to-my-site">Welcome to my Site…</h2>

<p><strong>This is for <em>Prog_270</em></strong>  <br>
<strong>Bellevue College</strong> <br>
<strong>Terrence Adams</strong></p>

<ul>
<li><a href="Page01.html">Start</a></li>
<li><a href="My%20Favorite%20Music.html">My Favorite Music</a></li>
<li><a href="Page01.html">Start</a></li>
</ul>