<h1 id="my-favorite-music">My Favorite Music</h1>

<ul>
<li>Jay-z</li>
<li>The Black Keys</li>
<li>Jack White</li>
<li>Big K.R.I.T</li>
<li>Adele</li>
<li>James Brown</li>
<li>Earth Wind &amp; Fire</li>
</ul>