<p><strong><em>Hike Between Parks</em></strong></p>

<ul>
<li>A 4 point hike, and waypoint.</li>
<li>A 5 point weekend workout </li>
</ul>

<p><img height = 400px src="https://drive.google.com/uc?view=export&amp;id=0BzzClW0hvLSPV1F5TDJzTXJuTGc" alt="***Hike between Parks***" title=""></p>

<p><strong><em>Marymoor Park</em></strong> <br>
<img height = 400px src="https://drive.google.com/uc?view=export&amp;id=0BzzClW0hvLSPQlRKLUN2VURzTjA" alt="Marymoor Park" title=""></p>

<p><strong><em>Layers and Steps on Mobile</em></strong> <br>
<img height = 400px src="https://drive.google.com/uc?view=export&amp;id=0BzzClW0hvLSPck40TTZRTFAzTXM" alt="layers and locations" title=""></p>

<p><strong><em>Mobile Routes</em></strong> <br>
<img height = 400px src="https://drive.google.com/uc?view=export&amp;id=0BzzClW0hvLSPUDZFTnM4eEZucEE" alt="Mobile Routes" title=""></p> 