<h1 id="a-tale-of-two-cities-by-charles-dickens">A Tale of Two Cities by Charles Dickens</h1>

<p>by Charles Dickens</p>



<h2 id="the-period">The Period</h2>

<p>It was the best of times, <br>
it was the worst of times, <br>
it was the age of wisdom, <br>
it was the age of foolishness, <br>
it was the epoch of belief, <br>
it was the epoch of incredulity, <br>
it was the season of Light, <br>
it was the season of Darkness, <br>
it was the spring of hope, <br>
it was the winter of despair, <br>
we had everything before us, <br>
we had nothing before us, <br>
we were all going direct to Heaven, <br>
we were all going direct the other way– <br>
in short, the period was so far like the present period, that some of <br>
its noisiest authorities insisted on its being received, for good or for <br>
evil, in the superlative degree of comparison only.</p>

<pre><code>        There were a king with a large jaw and a queen with a plain face, on the throne of England; there were a king with a large jaw and a queen with a fair face, on the throne of France. In both countries it was clearer than crystal to the lords of the State preserves of loaves and fishes, that things in general were settled for ever.
</code></pre>

<p>It was the year of Our Lord one thousand seven hundred and seventy-five. Spiritual revelations were conceded to England at that favoured period, as at this. Mrs. Southcott had recently attained her five-and-twentieth blessed birthday, of whom a prophetic private in the Life Guards had heralded the sublime appearance by announcing that arrangements were made for the swallowing up of London and Westminster. Even the Cock-lane ghost had been laid only a round dozen of years, after rapping out its messages, as the spirits of this very year last past (supernaturally deficient in originality) rapped out theirs. Mere messages in the earthly order of events had lately come to the English Crown and People, from a congress of British subjects in America: which, strange to relate, have proved more important to the human race than any communications yet received through any of the chickens of the Cock-lane brood.</p>