<p><strong>One Drive Mobile Folder</strong> <br>
<img src="https://dm2304files.storage.live.com/y2pYphKP0FdLEdgYbenKFI_JITKFdu4k01Gg4zLyH3Kf3iCfQh_lJdoMks0RwmlrvwtytNT6MIRJKaKIOfkA-FcgC0ve5vbseFisU9ghi9ZPLJ8Y1TO1GBJAzGWPPxrzkceKzyR47_jiUP6-PGm86iavw/2014-12-09_19-33-33.png.jpg?psid=1" alt="OneDrive" title=""></p>

<p><strong>One drive Spreadsheet document</strong> <br>
<img src="https://dm2304files.storage.live.com/y2pN1XpCCBoy-szTSnhthDFcJO7gslCIDVubFG3Rbm_sKmwG5QI2MJd_86yx5GoLEENzJVsl9LJX_svb7PGy-I3sPWnM3Mz-egwqSb8k9dGLXkFj5JtUHKkti-SjO46GSwg1gx5aWXe2POLZ-IgadZ9wg/2014-12-09_19-26-22.png.jpg?psid=1" alt="enter image description here" title=""></p>

<p><strong>Google Spreadsheet Document</strong> <br>
<img src="https://dm2304files.storage.live.com/y2pYOF0sFJoHuL67J1Xa3fBYNY93TkHkwpWEXryweucDZOu8vuQRW65m9SoJ2BKyapwNDV1wmi0zvMOiD5cDwMWl58GznFW3pYlpelzDePprOYaZNXOA_mJTe8TmHUATYaMUkg-D8rpZxA5NaDvlvF30g/2014-12-09_19-25-41.png.jpg?psid=1" alt="enter image description here" title=""></p>

<p><strong>Google Drive Folder</strong> <br>
<img src="https://dm2304files.storage.live.com/y2pZaZjERK4qsUnM5_WG1hJqPcdVOMT4rPqTzOflJc8Tf2EPq9eiKZYCiO1rDSlHlRPfXpsxnruYPD1NKuCGxmElW--xwSsCS0a6ZXbfqQ8of2tKxuTadRblLpyGFLOz9ff5fHmRAdNipZYtb21odkLfg/2014-12-09_19-25-13.png.jpg?psid=1" alt="enter image description here" title=""></p>

<p><strong>Evernote Mobile</strong> <br>
<img src="https://dm2304files.storage.live.com/y2pcbCT3dXR6yU2pGs3Q3SdroqslYfwdIgHxtbnGHsmOT2Wgr8pUn3SjTV7om1rJ72tWT983fIDW5L-u-MNQhjX0AKGHZTMzkS5LyEg7vRD9EwzxXyr5IWNztNTC00seP8lkwhJaH1rIategRjqctuygw/2014-12-09_19-10-55.png.jpg?psid=1" alt="enter image description here" title=""></p>